@page
@model EventPlannerWebApplication.Pages.MyEvents.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MyEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MyEvent.ID" />
            <div class="form-group">
                <label asp-for="MyEvent.Mentiune" class="control-label"></label>
                <input asp-for="MyEvent.Mentiune" class="form-control" />
                <span asp-validation-for="MyEvent.Mentiune" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyEvent.TipEvenimentID" class="control-label"></label>
                <select asp-for="MyEvent.TipEvenimentID" class="form-control" asp-items="ViewBag.TipEvenimentID"></select>
                <span asp-validation-for="MyEvent.TipEvenimentID" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="MyEvent.LocatieID" class="control-label">Locatie</label>
                <select asp-for="MyEvent.LocatieID" class="form-control" asp-items="ViewBag.LocatieID">
                </select>
                <span asp-validation-for="MyEvent.LocatieID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyEvent.MusicID" class="control-label">Music</label>
                <select asp-for="MyEvent.MusicID" class="form-control" asp-items="ViewBag.MusicID">
                </select>
                <span asp-validation-for="MyEvent.MusicID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyEvent.PhotographID" class="control-label">Music</label>
                <select asp-for="MyEvent.PhotographID" class="form-control" asp-items="ViewBag.PhotographID">
                </select>
                <span asp-validation-for="MyEvent.PhotographID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
