@page
@model EventPlannerWebApplication.Pages.Photographs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Photograph</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Photograph.DenumirePhotograph" class="control-label"></label>
                <input asp-for="Photograph.DenumirePhotograph" class="form-control" />
                <span asp-validation-for="Photograph.DenumirePhotograph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photograph.PretPhotograph" class="control-label"></label>
                <input asp-for="Photograph.PretPhotograph" class="form-control" />
                <span asp-validation-for="Photograph.PretPhotograph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photograph.PhotographImageFile" class="control-label"></label>
                <input asp-for="Photograph.PhotographImageFile" class="form-control" />
                <span asp-validation-for="Photograph.PhotographImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
