@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .display-4{
        color: #D4AC0D;
        text-align: left;
        font-family: Garamond, serif;
        font-style: italic;
        position:relative;
    }
    .text{
        color: #D4AC0D;
        text-align:center;
        font-family: Garamond, serif;
        font-size: 18px;
        letter-spacing: 2px;
        word-spacing: 2px;
        font-style: normal;
        font-variant: normal;
        font-style:italic;
        /*padding: 25px 50px;*/
       /* background-color:black;*/
    }
    /*body{
        background-image: url('images/bglogo.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:auto;
    }*/
    .center{
        display: block;
        margin-left: auto;
        margin-right: 70%;
        width: 40%;
        height:50%;
    }

</style>
<html>
    <head>

    </head>
    <body>
<div class="text-left">
    <h5 class="display-4">Welcome to... </h5>
        <img src="~/images/logo2.png" alt="Logo" class="center" />
</div>
</body>
</html>